.section {
  padding: 100px 0;
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;

  @include tablet {
    flex-direction: column;
  }
}

.dark {
  background-color: black;
  color: white;
}

.w20 {
  width: 20%;

  @include tablet {
    width: 100%;
    margin-bottom: 20px;
  }
}

.w32 {
  width: 32%;

  @include tablet {
    width: 100%;
    margin-bottom: 20px;
  }
}

.w40 {
  width: 40%;

  @include tablet {
    width: 100%;
    margin-bottom: 20px;
  }
}

.w60 {
  width: 60%;

  @include tablet {
    width: 100%;
    margin-bottom: 20px;
  }
}

.space-between {
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }
}

.gap20 {
  gap: 20px;
}

.text-center {
  text-align: center;
}
