@use '../abstracts/variables';
.slider {
    width: 100%;
    height: variables.$slider-height;
    aspect-ratio: 16/9;
    background-color: variables.$color-black;
    position: relative;
  
    &-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }
  
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  
      h1 {
        color: variables.$color-white;
        font-size: 5rem;
      }
  
      h2 {
        font-size: 3rem;
        margin-bottom: 100px;
      }
  
      p {
        color: variables.$color-white;
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
  