@use '../abstracts/variables';

.skill {
    background: variables.$color-dark-gray;
    border-radius: variables.$border-radius;
    padding: 20px;
    box-sizing: border-box;
  
    img {
      width: 100px;
      height: 100px;
      aspect-ratio: 1/1;
      object-fit: contain;
      transition: transform variables.$transition-duration ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    h3 {
      margin-top: 10px;
      font-weight: 200;
    }
  }
  