$font-family:"Roboto Mono", monospace;
$color-black: rgb(0, 0, 0);
$color-white: white;
$color-dark-gray: #333;
$slider-height: 80vh;
$max-width: 1280px;
$border-radius: 15px;
$transition-duration: 0.4s;

//responsive
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;